.dot_div{
    position:absolute;
    z-index:999;
    background-color:white;
    border-radius: 1rem;
    margin-top: .5rem;
    border-top-left-radius: 0rem;
}
.dot_div button{
    width: 5rem;
    height: 2rem;
    background: none;
    color: #888888;
    border: none;
}
.dot_div button:hover{
    color: #444444;
}
.display{
    display: none;
}